.CustomerMenu {
	height: 100%;
    background: linear-gradient(to right, rgb(230, 205, 173), rgb(226, 220, 140));
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.CustomerMenu .ContainerDetailsAndPrice{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.CustomerMenu .CouponsForPurchaseContainer{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px 10px;
    background-color: cornsilk;
    color: peru;
    padding: 8px;
    box-shadow: 2px 2px 2px rgb(114, 104, 104);
    display:inline-block;
}

.CustomerMenu .ContainerDetailsAndPrice .ContainerCustomerDetails .Box, .ContainerMaxPrice .Box, .ContainerCustomerCoupons .Box{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px 10px;
    background-color: cornsilk;
    color: peru;
    padding:35px;
    box-shadow: 3px 3px 3px rgb(114, 104, 104);
    display:inline-block;
}

.CustomerMenu > .parent >.child{
    text-align: center;
    margin-top: 40px;
    font-size: xx-large;
    text-shadow: 2px 2px 2px rgb(143, 141, 141);
}
