.AddCoupon {
    text-align: center;
    height: 100%;
    background: linear-gradient(to right, rgb(230, 205, 173), rgb(226, 220, 140));
    background-size: contain;
    background-repeat: no-repeat;
}

.AddCoupon .Box2{
    position: inherit;
    margin: 8px;
    padding-bottom: 10px;
    height: 100%;
    background: linear-gradient(to right, rgb(230, 205, 173), rgb(226, 220, 140));
}


.AddCoupon input{
    height: 100%;
    background: linear-gradient(to right, rgb(230, 205, 173), rgb(226, 220, 140));
    width: 400px;
}

.AddCoupon span{
    color:rgb(212, 45, 16);
    font-weight: bold;
}

.AddCoupon > .parent >.child{
    text-align: center;
    margin-top: 40px;
    font-size: xx-large;
    text-shadow: 2px 2px 2px rgb(143, 141, 141);
}

.AddCoupon .InputSelect{
    height: 100%;
    background: linear-gradient(to right, rgb(230, 205, 173), rgb(226, 220, 140));
    border: 1px solid #a7a770;
    border-radius: 3px ;
    /* width: 30%; */
    width: 428px;
    height:50px;
    color: #666645;
    font-size:  16px;
    padding-left: 9px;
}

.AddCoupon .InputDateTimeLocal{
    height: 100%;
    background: linear-gradient(to right, rgb(230, 205, 173), rgb(226, 220, 140));
    border: 1px solid #a7a770;
    border-radius: 3px ;
    /* width: 30%; */
    width: 428px;
    height:50px;
    color: #666645;
    font-size:  16px;
    padding-left: 9px;
}

.AddCoupon .DateLabel{
    color: #666645;
    font-size:  17px;
    position: relative;
    right: 39%;
}
