.Login {
	
}

.Login button {
    background-color: #2f308f;
    border-radius: 10px 10px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 15%; */
  }
  
  button:hover {
    opacity: 0.8;
  }
